@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Poppins, sans-serif;
    font-weight: 200;
    color: #2f4f4f;
}

h1, h2 {
    font-family: Roboto-slab, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #000036;

}

#logo {
    text-align: center;
    font-size: 210%;
    margin-top: 20px;
}

#menu {
    border-width: 1px 0;
    list-style: none;
    margin: 2px;
    padding: 0;
    text-align: center;

}

#menu li {
    display: inline-block;
    list-style: none;
    text-align: center;
    margin: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;

}

#menu a:hover {
    border-bottom: 2px solid #333333;
}

.active {
    border-bottom: 2px solid #333333;
}

#main-image {
    height: 480px;
    width: 100%;
    background: url(../images/border-collie-and-black-dog.jpg) no-repeat;
    border-radius: 70px;

    animation-name: image-backwards;
    animation-duration: 3s;
    animation-fill-mode: both;
    position: relative;

}

#cover-text, #cover-text h2 {
    color: #fff

}

@keyframes image-backwards {
    from {
        transform: scale(1.2);
    }
    to {
        transform:scale(1)
    }
}

#cover-text {
    font-size: 120%;
    font-family: Roboto-slab, sans-serif;
    text-transform:capitalize;
    letter-spacing: 2px;

    width: 280px;
    height: 120px;

    padding-top: 10px;
    padding-left: 20px;

    background-color: rgba( 85, 107, 47, .6 );
    border-radius: 40px;

    bottom: 10px;
    right: 500px;
    
    position: absolute;

}

#main-info {
    height: 480px;
}

#left-side {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-side {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-side {
    width: 33%;
    margin: 0 auto;
}

.left-side-heading {
    width: 40%;
    line-height: 20px;
    margin-bottom: 10px;
    clear: both;
    float: right;
    padding-left: 1%;
}

