@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}
/* body */

body {
    font-family: Poppins, sans-serif;
    font-weight: 200;
    color: #2f4f4f;
}

/* headers */

h1, h2 {
    font-family: Roboto-slab, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #000036;

}

/* logo and menu */

#logo {
    text-align: center;
    font-size: 210%;
    margin-top: 20px;
}

#menu {
    border-width: 1px 0;
    list-style: none;
    margin: 2px;
    padding: 0;
    text-align: center;

}

#menu li {
    display: inline-block;
    list-style: none;
    text-align: center;
    margin: 10px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px solid #333333;
}

.active {
    border-bottom: 2px solid #333333;
}


/* main image and cover-text */

#main-image {
    height: 480px;
    width: 100%;
    background: url(../images/bathing-dogs.jpg) no-repeat;
    animation-name: image-backwards;
    animation-duration: 2s;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#cover-text, #cover-text h2 {
    color: #fff;
    padding-top: 3px;;

}

#cover-text {
    font-size: 120%;
    font-family: Roboto-slab, sans-serif;
    text-transform: initial;
    letter-spacing: 3px;

    background-color: rgba( 85, 107, 47, .6 );
    padding-top: 3px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* main info */

.main-info {
    padding: 5vh 0;
    text-align: center;
    display: flex;
    justify-content: space-around;
  flex-direction: column;

}

.info-boxes {
    flex-basis: 30%;
}

hr {
    border-top:2px solid #333333;
    width: 100%;
    margin: 4px;
}

.image-container {
    display: flex;
    align-items: center;
}

#entry {
    text-align: center;
    padding-top: 50px;
    font-size: 230%;
}

/* social media */

footer {
    height: 80px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline-block;
}

.social-networks i {
    font-size: 200%;
    margin: 3%;
    padding-top: 16px;
    color: #3a3a3a;
    padding-left: 45px;
}

/* about us */

.au-section{
	width: 100%;
	min-height: 100vh;
	background-color: #728c8c
}

.au-container{
	width: 80%;
	display: block;
	margin: auto;
	padding-top: 50px;
}

.au-content-section{
	float: left;
	width: 60%;
}

.au-image-section{
	display: flex;
	width: 40%;
    padding-top: 4px;
}

.au-container img{
	width: 100%;
	height: auto;
    padding-top: 4px;
}

.au-image-section img{
	width: 100%;
	height: auto;
    padding-top: 4px;
}

.au-content-section .title{
	text-transform: uppercase;
	font-size: 28px;
}

.au-content-section, .au-content h3{
	margin-top: 23px;
	color:#ffffff;
	font-size: 22px;
}

.au-content-section .au-content p{
	margin-top: 10px;
	font-family: sans-serif;
	font-size: 13px;
	line-height: 1.5;
}

.au-content-section .au-content .button{
	margin-top: 35px;
}

.au-content-section .au-content .button a{
	background-color: #3d3d3d;
	padding:12px 45px;
	text-decoration: none;
	color:#fff;
	font-size: 20px;
	letter-spacing: 1.5px;
}

.au-content-section .au-content .button a:hover{
	background-color: #a52a2a;
	color:rgb(249, 244, 244);
}

.au-content-section {
	float: none;
	width: 100%;
	display: block;
	margin: auto;
}
.au-image-section {
	float: none;
	width: 100%;
	
}
.au-image-section img {
	width: 100%;
	height: auto;
	display: block;
	margin: auto;
}
.au-content-section .title {
	text-align: center;
	font-size: 19px;
}
.au-content-section .au-content .button {
	text-align: center;
}
.au-content-section .au-content .button a {
	padding: 9px 30px;
    padding-bottom: 7px;
}

/* gallery */

#dog-photos {
    clear: both;
    line-height: 0;
    column-count: 3;
    column-gap: 0;
}

#dog-photos > img {
    width: 100%;
}

/* form */

.form-section {
    clear: left;
    background: url("../images/flatcoat-dog.jpg");
    background-size: cover;
    background-position: center;
    height: 900px;
}

.letsjoin-form {
    margin: 145px 12% 0 0;
    color: rgb(77, 41, 41);
    background-color: rgba(39, 118, 81, 0.6);
    max-width: 600px;
    position: absolute;
    left: 1%;
    padding: 18px;
}

.letsjoin-form > h2 {
    color: #4a3b3b;
    margin-bottom: 24px;
}

.text-input {
    background: transparent;
    color: #bcb7b7;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #19672a;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #146e29;
}

.lgs-button {
    margin-top: 15px;
    border-radius: 20px;
    padding: 13px 30px 12px 30px;
    text-align: center;
    font-size: 100%;
    background-color: #0e2958;
    color: #faf9f9;
    display: block;
}

.lgs-button:hover {
    background-color: #6f6e6e;
    color: #4d6724;
}
/* form destination */

#fd-text {
    padding: 10% 20% 10% 20%;
    font-weight: lighter;
    background-color: #728c8c;
    color: #fff;
    font-family: sans-serif;
	font-size: 13px;
	line-height: 1.5;
    text-transform:none;
}

/* media query */

@media (min-width: 40rem) {
    .main-info {
      flex-direction: row;
    }
}


@media screen and (max-width: 1200px) {
    #menu {
    margin: 2px;
    font-size: 1rem;
    width: 100%;
    padding: 0px;
    }

    #logo {
        width: 100%;
        text-align: center;
    }

    #cover-text {
        left: 0;
    }

    #cover-text, .cover-text h3  {
        width: 100%;
        text-align: center;
    }

    #main-image {
        width: 100%;
        align-items: center;
    }
}

@media screen and (max-width: 950px) {
    #menu {
    margin: 2px;
    font-size: 1rem;
    width: 100%;
    padding: 0px;
    }

    #logo {
        width: 100%;
        text-align: center;
    }

    #cover-text {
        left: 0;
    }

    #cover-text, .cover-text h3  {
        width: 100%;
        text-align: center;
    }

    #main-image {
        float: left;
     max-width: 100%;
    }

    .social-networks  i {
        margin: 18px;
        font-size: 1rem;
        width: 100%;
        padding: 0px;
     }
}

@media screen and (max-width: 350px) {
    #menu {
    margin: 2px;
    font-size: 1rem;
    width: 100%;
    padding: 0px;
    }

    #logo {
    width: 100%;
    text-align: center;
    }

    #cover-text {
    left: 0;
    }

    #cover-text, .cover-text h3  {
    width: 100%;
    text-align: center;
    }

    #main-image {
    max-width: 100%;
    display: none;

    }
    .social-networks  i {
    margin: 18px;
    font-size: 1rem;
    width: 100%;
    padding: 0px;
       
    }

}